<div class="pricetags-container">
	<h3>Select a Pricetag or make a Donation</h3>
	<%= render 'charges/new' %>
	<br/>
	<h3>Use this fake/demo credit card:</h3>
	<div class="credit-card">
		Card: <span class="number">4242 4242 4242 4242</span>
		<span class="security-code">CVC: <strong>123</strong></span>
		Expiration: <span class="expiration">(Any Future Date)</span>
	</div>
</div>