<div class="register-page">
	<div class="pull-left fifty">
		<%= render 'devise/registrations/signup' %>
	</div>
	<div class="pull-right fifty">
		<%= render 'devise/sessions/signin' %>
	</div>
	<div class="clearfix"></div><br/>
	<div class="demo-account">email: <strong>user@demo.com</strong> password: <strong>password</strong>
</div>